.div1 {
    width: 800px;
    height: 600px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 {
    width: 400px;
    height: 300px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div3 {
    width: 200px;
    height: 150px;
    background-color: blue;
}