.div1 {
    width: 800px;
    height: 600px;
    background-color: burlywood;
    position: relative;
    top: 0;
    left: 0;
}

.div2 {
    width: 200px;
    height: 150px;
    background-color: blue;
    position: absolute;
    bottom: 0;
    right: 0;
}